$primary-blue : #5B7CFD;
$primary-green : #33CC86;
$primary-red : #FF7F57;
$primary-orange : #FFAE33;
$primary-yellow : #FFCF27;
$primary-light-yellow : #FBE691;

$light-blue : #DEE5FF;
$light-green : #CDF5F4;
$light-pink : #FFE5DD;
$light-bluish : #D8E0FE;

$neutral-dark-blue : #232D42;
$neutral-dark-grey : #8A92A6;
$neutral-mid-grey : #737B8B;
$neutral-light-blue : #E7EEF7;
$neutral-light-grey : #E3E5E8;
$neutral-grey : #929292;


$box-shadow : 0 8px 16px 0 rgba(0,0,0,0.2);

$scrollbar-background : #09465f;
$scrollbar-track : #ddd;
$scrollbar-thumb : #c6c6c6;
$scrollbar-thumb-hover : #adadad;

